:root {
  --btn-bg: #1276fa;
  --btn-color: #333333;
  --bg-color: #f9f9f9;
  --span-color: #1276fa;
  --text-color: #111111;
  --border-color: #dbdbdb;
  --box-color:#abd9fe;
}

.dark {
  --btn-bg: #fbfbfb;
  --btn-color: #ffffff;
  --span-color: #00fbff;
  --border-color: #444444;
  --bg-color: #111111;
  --text-color: #f9f9f9;
  --box-color: #1f517a;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}
